<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jjwork.jj_test02"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="jjwork.jjtest02.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jjwork.jjtest02.Sub1Activity"></activity>
        <activity android:name="jjwork.jjtest02.Sub2Activity"></activity>
        <activity android:name="jjwork.jjtest02.Sub3Activity"></activity>
        <activity android:name="jjwork.jjtest02.Sub4Activity"></activity>
        <activity android:name="jjwork.jjtest02.SettingActivity"></activity>
        <service  android:name="jjwork.controller.HardwaveService"></service>
    </application>

</manifest>
